# Node.js
node_modules/
.env
npm-debug.log*

# Docker
*.log
docker-compose.override.yml
.docker/

# C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Frontend build
frontend/build/

# VS Code
.vscode/
